extends ../layout/layout.pug

block content
  .row
    .col-md-12
      h1.page-header Share Project {{ ::project.name }}
  .row(ng-show="isLoading")
    .col-md-12
      include ../common/spinner.pug
  div(ng-hide="isLoading")
    .row
      .col-md-12
        form.form-horizontal(name="projectForm")
          .form-group
            label.col-md-3.control-label(for="userGroups") Share with User Groups
            .col-md-9
              ui-select(name="sharedUserGroups" multiple="true" ng-model="project.sharedUserGroups" ng-disabled="isSaving")
                ui-select-match(placeholder="Add User Groups") {{ $item.groupName }}
                ui-select-choices(refresh="refreshUserGroups($select.search)" refresh-delay="300" repeat="userGroup._id as userGroup in userGroups")
                  span(ng-bind-html="userGroup.groupName | highlight: $select.search")

          .form-group
            label.col-md-3.control-label(for="users") Share with Users
            .col-md-9
              ui-select(name="sharedUsers" multiple="true" ng-model="project.sharedUsers" ng-disabled="isSaving")
                ui-select-match(placeholder="Add Users") {{ $item.firstName }}
                ui-select-choices(refresh="refreshUsers($select.search)" refresh-delay="300" repeat="user._id as user in users")
                  span(ng-bind-html="user.firstName | highlight: $select.search")
    .row
      .col-md-12
        .buttons.text-right
          a.btn.btn-default(href="/projects") Cancel
          button.btn.btn-primary(ng-click="shareProject()" ng-disabled="projectForm.$invalid || isSaving") Save
