.nav-sidebar
  margin-bottom: 20px
  margin-left: -20px
  margin-right: -21px
  li
    a
      padding-left: 20px
      padding-right: 20px
  .active
    a,
    a:hover,
    a:focus
      background-color: #428bca
      color: #fff
.terms
  margin: 0 auto
.sidebar
  display: none

.sub-header
  border-bottom: 1px solid #eee
  padding-bottom: 10px

.main
  .page-header
    margin-top: 0
    text-align: center

@media (min-width: 768px)
  .sidebar
    left: 0
    top: 51px
    bottom: 0
    padding: 20px
    display: block
    position: fixed
    z-index: 1000
    overflow-x: hidden
    overflow-y: auto
    background-color: #f5f5f5
    border-right: 1px solid #eee
  .main
    padding-left: 40px
    padding-right: 40px

.buttons
  a,button
    margin-right: 5px
.btn-icon-text
  margin-left: 5px

.ui-select-search
  padding-left: 10px

.sk-three-bounce
  margin: 0 auto
