.processor
  position: fixed
  top: 60px
  left: 2%
  bottom: 2%
  right: 2%
  
  h1,h2,h3,h4,h5,h6
    margin-top: 0

  table
    height: 100%
    th
      width: 25%
    th.project-name
      border-right: 2px solid #eee
    th.document-templates
      border-right: 2px solid #eee
    th.buttons
      border-right: 2px solid #eee
      text-align: right
      button
        position: relative
        top: -5px
    
    td.properties
      width: 25%
    td.editor
      width: 50%
      border-left: 2px solid #eee
      border-right: 2px solid #eee
    td.help
      width: 25%
    