table.projects
  td.actions
    width: 130px
    button
      margin: 0 2px

table.shared-projects
  td.actions
    width: 60px
    button
      margin: 0 2px

.tab-owned-projects
  .nav-link
    font-size: 16px
    color: #4DB3A2
    text-transform: uppercase
    font-weight: bold
.tab-shared-projects
  .nav-link
    font-size: 16px
    color: #E26A6A
    text-transform: uppercase
    font-weight: bold