.editor
  font-family: "Times New Roman", Georgia, Serif
  h1,h2,h3,h4,h5,h6
    margin-top: 0
  .expanded .prettify:before
    content: ', '
  .expanded:last-child
    .prettify:before
      content: ' and '
  .toolbar
    height: 45px
    .status-select
      width: 50%
      float: right
    .col
      height: 100%
      border-right: 2px solid #eee
      border-bottom: 2px solid #eee
    .col:last-child
      border-right: none
    .div-view-state
      width: 50%
      float: right
      text-align: right
      .btn-view-state
        margin-right: 3px
        width: 40px
        height: 35px
        padding: 0px
        text-align: center
        font-size: 20px
    .buttons
      text-align: right
      .btn-edit
      .btn-redline
        height: 38px
      .btn-edit
        color: #000000      
      .btn-redline
        color: #d9534f
        span
          text-decoration: line-through

  .content
    .saving
      position: fixed;
      bottom: 10px;
      left: 50%;
      margin-left: -30px
    .col
      height: 100%
      padding-top: 10px
      overflow-y: auto
      border-right: 2px solid #eee
    .col:last-child
      border-right: none
    .properties
      font-family: Arial
      .form-group
        border-bottom: 1px solid #eee
        padding-bottom: 10px
        padding: 10px 0
        margin-bottom: 0        
        .control-label
          font-size: 12px
        &.highlighted
          border: 1px solid #66afe9
          border-radius: 3px
          outline: 0
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,1)
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,1)
        input[type="radio"]
          margin-left: -15px

    .editor
      input
        margin: 2px
        border: 2px solid #e7ebf0
        padding-left: 3px
        padding-right: 3px
        color: #333
      label
        font-weight: normal

      .highlighted-for-scroll
        color: blue
        font-weight: bold
      input.highlighted-for-scroll
        border: 1px solid #66afe9
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,1)
      .highlighted-navigation
        border: 2px solid #e7ebf0 !important
        box-shadow: none !important
        background-color: #FFEB3B !important

      .edit-mode
        .unselected
          display: none
        .selected
          color: black
          font-weight: normal
          text-decoration: none
          input
            color: black
            font-weight: normal
            text-decoration: none
          input::-moz-input-placeholder
            font-weight: normal
            color: black
            text-decoration: none
          input::-webkit-input-placeholder
            font-weight: normal
            color: black
            text-decoration: none

      .redline-mode
        .exp-ifcond
          &.selected
            display: inline
            text-decoration: underline
            font-weight: bold
            color: black
            input
              color: black
              text-decoration: underline
              font-weight: bold
            input::-moz-input-placeholder
              color: black
              text-decoration: underline
              font-weight: bold
            input::-webkit-input-placeholder
              color: black
              text-decoration: underline
              font-weight: bold
            &.defaulted
              color: black
              font-weight: normal
              text-decoration: none
              input
                color: black
                font-weight: normal
                text-decoration: none
              input::-moz-input-placeholder
                font-weight: normal
                color: black
                text-decoration: none
              input::-webkit-input-placeholder
                font-weight: normal
                color: black
                text-decoration: none
            &.highlighted
              display: inline
              text-decoration: underline
              font-weight: bold
              color: blue
              input
                color: blue
                text-decoration: underline
                font-weight: bold
              input::-moz-input-placeholder
                color: blue
                text-decoration: underline
                font-weight: bold
              input::-webkit-input-placeholder
                color: blue
                text-decoration: underline
                font-weight: bold
              &.defaulted
                color: black
                font-weight: normal
                text-decoration: none
                input
                  font-weight: normal
                  color: black
                  text-decoration: none
                input::-moz-input-placeholder
                  font-weight: normal
                  color: black
                  text-decoration: none
                input::-webkit-input-placeholder
                  font-weight: normal
                  color: black
                  text-decoration: none

          &.unselected
            display: inline
            color: lightgrey
            font-weight: normal
            text-decoration: line-through
            input
              color: lightgrey
              font-weight: normal
              text-decoration: line-through
            input::-moz-input-placeholder
              text-decoration: line-through
              font-weight: normal
              color: lightgrey
            input::-webkit-input-placeholder
              text-decoration: line-through
              font-weight: normal
              color: lightgrey
            &.defaulted
              display: none
            &.highlighted
              color: red
              text-decoration: line-through
              input
                color: red
                font-weight: normal
                text-decoration: line-through
              input::-moz-input-placeholder
                color: red
                font-weight: normal
                text-decoration: line-through
              input::-webkit-input-placeholder
                color: red
                font-weight: normal
                text-decoration: line-through
              &.defaulted
                display: none

        .exp-ifvariant
          &.selected
            display: inline
            text-decoration: none
            font-weight: normal
            color: black
            input
              color: black
              text-decoration: underline
              font-weight: bold
            input::-moz-input-placeholder
              color: black
              text-decoration: underline
              font-weight: bold
            input::-webkit-input-placeholder
              color: black
              text-decoration: underline
              font-weight: bold
            &.defaulted
              color: black
              font-weight: normal
              text-decoration: none
              input
                color: black
                font-weight: normal
                text-decoration: none
              input::-moz-input-placeholder
                font-weight: normal
                color: black
                text-decoration: none
              input::-webkit-input-placeholder
                font-weight: normal
                color: black
                text-decoration: none
            &.highlighted
              display: inline
              text-decoration: none
              font-weight: normal
              color: black
              input
                color: black
                text-decoration: none
                font-weight: normal
              input::-moz-input-placeholder
                color: black
                text-decoration: none
                font-weight: normal
              input::-webkit-input-placeholder
                color: black
                text-decoration: none
                font-weight: normal
              &.defaulted
                color: black
                font-weight: normal
                text-decoration: none
                input
                  font-weight: normal
                  color: black
                  text-decoration: none
                input::-moz-input-placeholder
                  font-weight: normal
                  color: black
                  text-decoration: none
                input::-webkit-input-placeholder
                  font-weight: normal
                  color: black
                  text-decoration: none

          &.unselected
            display: inline
            color: lightgrey
            font-weight: normal
            text-decoration: line-through
            input
              color: lightgrey
              font-weight: normal
              text-decoration: line-through
            input::-moz-input-placeholder
              text-decoration: line-through
              font-weight: normal
              color: lightgrey
            input::-webkit-input-placeholder
              text-decoration: line-through
              font-weight: normal
              color: lightgrey
            &.defaulted
              display: none
            &.highlighted
              color: red
              text-decoration: line-through
              input
                color: red
                font-weight: normal
                text-decoration: line-through
              input::-moz-input-placeholder
                color: red
                font-weight: normal
                text-decoration: line-through
              input::-webkit-input-placeholder
                color: red
                font-weight: normal
                text-decoration: line-through
              &.defaulted
                display: none

        .exp-unlessvariant
          &.unselected
            display: none
            &.defaulted
              display: inline
              color: lightgrey
              font-weight: normal
              text-decoration: line-through
              input
                color: lightgrey
                font-weight: normal
                text-decoration: line-through
              input::-moz-input-placeholder
                text-decoration: line-through
                font-weight: normal
                color: lightgrey
              input::-webkit-input-placeholder
                text-decoration: line-through
                font-weight: normal
                color: lightgrey
            &.highlighted
              &.defaulted
                color: red
                font-weight: normal
                text-decoration: line-through
                input
                  color: red
                  font-weight: normal
                  text-decoration: line-through
                input::-moz-input-placeholder
                  color: red
                  font-weight: normal
                  text-decoration: line-through
                input::-webkit-input-placeholder
                  color: red
                  font-weight: normal
                  text-decoration: line-through

          &.selected
            display: inline
            color: black
            font-weight: normal
            text-decoration: none
            input
              color: black
              font-weight: normal
              text-decoration: none
            input::-moz-input-placeholder
              color: black
              font-weight: normal
              text-decoration: none
            input::-webkit-input-placeholder
              color: black
              font-weight: normal
              text-decoration: none
            &.defaulted
              display: inline
              text-decoration: underline
              font-weight: bold
              color: black
              input
                color: black
                text-decoration: underline
                font-weight: bold
              input::-moz-input-placeholder
                color: black
                text-decoration: underline
                font-weight: bold
              input::-webkit-input-placeholder
                color: black
                text-decoration: underline
                font-weight: bold
            &.highlighted
              display: inline
              color: black
              font-weight: normal
              text-decoration: none
              input
                color: black
                font-weight: normal
                text-decoration: none
              input::-moz-input-placeholder
                color: black
                font-weight: normal
                text-decoration: none
              input::-webkit-input-placeholder
                color: black
                font-weight: normal
                text-decoration: none

              &.defaulted
                display: inline
                color: blue
                font-weight: bold
                text-decoration: underline
                input
                  color: blue
                  font-weight: bold
                  text-decoration: underline
                input::-moz-input-placeholder
                  color: blue
                  font-weight: bold
                  text-decoration: underline
                input::-webkit-input-placeholder
                  color: blue
                  font-weight: bold
                  text-decoration: underline
        .exp-if
          &.selected
            display: inline
            text-decoration: underline
            font-weight: bold
            color: black
            input
              color: black
              text-decoration: underline
              font-weight: bold
            input::-moz-input-placeholder
              color: black
              text-decoration: underline
              font-weight: bold
            input::-webkit-input-placeholder
              color: black
              text-decoration: underline
              font-weight: bold
            &.defaulted
              color: black
              font-weight: normal
              text-decoration: none
              input
                color: black
                font-weight: normal
                text-decoration: none
              input::-moz-input-placeholder
                font-weight: normal
                color: black
                text-decoration: none
              input::-webkit-input-placeholder
                font-weight: normal
                color: black
                text-decoration: none
            &.highlighted
              display: inline
              text-decoration: underline
              font-weight: bold
              color: blue
              input
                color: blue
                text-decoration: underline
                font-weight: bold
              input::-moz-input-placeholder
                color: blue
                text-decoration: underline
                font-weight: bold
              input::-webkit-input-placeholder
                color: blue
                text-decoration: underline
                font-weight: bold
              &.defaulted
                color: black
                font-weight: normal
                text-decoration: none
                input
                  font-weight: normal
                  color: black
                  text-decoration: none
                input::-moz-input-placeholder
                  font-weight: normal
                  color: black
                  text-decoration: none
                input::-webkit-input-placeholder
                  font-weight: normal
                  color: black
                  text-decoration: none

          &.unselected
            display: inline
            color: lightgrey
            font-weight: normal
            text-decoration: line-through
            input
              color: lightgrey
              font-weight: normal
              text-decoration: line-through
            input::-moz-input-placeholder
              text-decoration: line-through
              font-weight: normal
              color: lightgrey
            input::-webkit-input-placeholder
              text-decoration: line-through
              font-weight: normal
              color: lightgrey
            &.defaulted
              display: none
            &.highlighted
              color: red
              text-decoration: line-through
              input
                color: red
                font-weight: normal
                text-decoration: line-through
              input::-moz-input-placeholder
                color: red
                font-weight: normal
                text-decoration: line-through
              input::-webkit-input-placeholder
                color: red
                font-weight: normal
                text-decoration: line-through
              &.defaulted
                display: none

        .exp-unless
          &.unselected
            display: none
            &.defaulted
              display: inline
              color: lightgrey
              font-weight: normal
              text-decoration: line-through
              input
                color: lightgrey
                font-weight: normal
                text-decoration: line-through
              input::-moz-input-placeholder
                text-decoration: line-through
                font-weight: normal
                color: lightgrey
              input::-webkit-input-placeholder
                text-decoration: line-through
                font-weight: normal
                color: lightgrey
            &.highlighted
              &.defaulted
                color: red
                font-weight: normal
                text-decoration: line-through
                input
                  color: red
                  font-weight: normal
                  text-decoration: line-through
                input::-moz-input-placeholder
                  color: red
                  font-weight: normal
                  text-decoration: line-through
                input::-webkit-input-placeholder
                  color: red
                  font-weight: normal
                  text-decoration: line-through

          &.selected
            display: inline
            color: black
            font-weight: normal
            text-decoration: none
            input
              color: black
              font-weight: normal
              text-decoration: none
            input::-moz-input-placeholder
              color: black
              font-weight: normal
              text-decoration: none
            input::-webkit-input-placeholder
              color: black
              font-weight: normal
              text-decoration: none
            &.defaulted
              display: inline
              text-decoration: underline
              font-weight: bold
              color: black
              input
                color: black
                text-decoration: underline
                font-weight: bold
              input::-moz-input-placeholder
                color: black
                text-decoration: underline
                font-weight: bold
              input::-webkit-input-placeholder
                color: black
                text-decoration: underline
                font-weight: bold
            &.highlighted
              display: inline
              color: black
              font-weight: normal
              text-decoration: none
              input
                color: black
                font-weight: normal
                text-decoration: none
              input::-moz-input-placeholder
                color: black
                font-weight: normal
                text-decoration: none
              input::-webkit-input-placeholder
                color: black
                font-weight: normal
                text-decoration: none

              &.defaulted
                display: inline
                color: blue
                font-weight: bold
                text-decoration: underline
                input
                  color: blue
                  font-weight: bold
                  text-decoration: underline
                input::-moz-input-placeholder
                  color: blue
                  font-weight: bold
                  text-decoration: underline
                input::-webkit-input-placeholder
                  color: blue
                  font-weight: bold
                  text-decoration: underline
