.editor
  font-family: "Times New Roman", Georgia, Serif
  h1,h2,h3,h4,h5,h6
    margin-top: 0

  .toolbar
    height: 45px
    .col
      height: 100%
      border-right: 2px solid #eee
      border-bottom: 2px solid #eee
    .col:last-child
      border-right: none
    .buttons
      text-align: right

  .content
    .saving
      position: fixed;
      bottom: 10px;
      left: 50%;
      margin-left: -30px
    .col
      height: 100%
      padding-top: 10px
      overflow-y: auto
      border-right: 2px solid #eee
    .col:last-child
      border-right: none
    .properties
      .form-group
        border-bottom: 1px solid #eee
        padding-bottom: 10px
        input[type="radio"]
          margin-left: -15px
    .editor
      input
        margin: 2px
        border: 2px solid #e7ebf0
        padding-left: 3px
        padding-right: 3px
        color: #333
      label
        font-weight: normal
      .invisible
        visibility: visible
        color: #ccc
        text-decoration: line-through
        input
          color: #ccc
          text-decoration: line-through
        input::-moz-input-placeholder
          text-decoration: line-through
          color: #ccc
        input::-webkit-input-placeholder
          text-decoration: line-through
          color: #ccc
      .edit-mode
        .invisible
          visibility: hidden
