.editor
  font-family: "Times New Roman", Georgia, Serif
  h1,h2,h3,h4,h5,h6
    margin-top: 0

  .toolbar
    height: 45px
    .col
      height: 100%
      border-right: 2px solid #eee
      border-bottom: 2px solid #eee
    .col:last-child
      border-right: none
    .buttons
      text-align: right
      .btn-edit
      .btn-redline
        height: 38px
      .btn-edit
        color: #000000
      .btn-redline
        color: #d9534f
        span
          text-decoration: line-through




  .content
    .saving
      position: fixed;
      bottom: 10px;
      left: 50%;
      margin-left: -30px
    .col
      height: 100%
      padding-top: 10px
      overflow-y: auto
      border-right: 2px solid #eee
    .col:last-child
      border-right: none
    .properties
      .form-group
        border-bottom: 1px solid #eee
        padding-bottom: 10px
        input[type="radio"]
          margin-left: -15px

    .editor
      input
        margin: 2px
        border: 2px solid #e7ebf0
        padding-left: 3px
        padding-right: 3px
        color: #333
      label
        font-weight: normal

      .edit-mode
        .unselected
          display: none
        .selected
          color: black
          font-weight: normal
          text-decoration: none
          input
            color: black
            font-weight: normal
            text-decoration: none
          input::-moz-input-placeholder
            font-weight: normal
            color: black
            text-decoration: none
          input::-webkit-input-placeholder
            font-weight: normal
            color: black
            text-decoration: none

      .redline-mode
        .exp-if
          &.unselected
            display: inline
            color: black
            text-decoration: line-through
            input
              color: black
              text-decoration: line-through
            input::-moz-input-placeholder
              text-decoration: line-through
              color: black
            input::-webkit-input-placeholder
              text-decoration: line-through
              color: black
            &.highlighted
              color: red
              input
                color: red
              input::-moz-input-placeholder
                color: red
              input::-webkit-input-placeholder
                color: red
        .exp-unless
          &.unselected
            display: none
          &.selected
            display: inline
            color: black
            font-weight: bold
            text-decoration: underline
            input
              color: black
              font-weight: bold
              text-decoration: underline
            input::-moz-input-placeholder
              font-weight: bold
              color: black
              text-decoration: underline
            input::-webkit-input-placeholder
              font-weight: bold
              color: black
              text-decoration: underline
            &.highlighted
              color: blue
              input
                color: blue
              input::-moz-input-placeholder
                color: blue
              input::-webkit-input-placeholder
                color: blue
