table.projects
  td.actions
    width: 170px
    button
      margin: 0 2px

table.shared-projects
  td.actions
    width: 100px
    button
      margin: 0 2px

.caption
  text-align: center
  padding: 10px 0px
  span.caption-projects
    text-transform: uppercase
    color: #4DB3A2
    font-weight: bold
    font-size: 16px
  span.caption-shared-projects
    text-transform: uppercase
    color: #E26A6A
    font-weight: bold
    font-size: 16px
