table.term-templates
  td.term-type
    width: 200px
  td.variable
    width: 200px
  td.actions
    width: 130px
    button
      margin: 0 2px
  tr.disabled
    text-decoration: line-through
    color: #ff0000
