include ../navbar.jade

div(ng-show="isLoading")
  include ../common/spinner.jade
.container(ng-hide="isLoading")
  .row
    .col-md-12
      h2 Edit TermTemplate {{ ::termTemplate.name }}
  .row
    .col-md-12
      include ./form.jade
  .row
    .col-md-12
      .buttons.text-right
        a.btn.btn-default(href="/term-templates") Cancel
        button.btn.btn-primary(ng-click="saveTermTemplate()" ng-disabled="termTemplateForm.$invalid || isSaving") Save
