extends ../layout/layout.pug

block content
  .row
    .col-md-12
      h1.page-header Term Templates
  .row(ng-show="isLoading")
    .col-md-12
      include ../common/spinner.pug
  div(ng-hide="isLoading")
    .row
      .col-md-6
        a.btn.btn-default.btn-primary(href="/term-templates/new") New Term Template
      .col-md-6.text-right
        button#import.btn.btn-info.btn-md(title="Import") Import 
          input#csvfile(type="file" onchange="angular.element(this).scope().uploadCSV()" accept=".csv")
          span.glyphicon.glyphicon-import
        button#export.btn.btn-success.btn-md(title="Export" ng-click="exportToCSV()") Export 
          span.glyphicon.glyphicon-export
    .row
      .col-md-12
        table.table.table-striped.term-templates
          thead
            tr
              td.term-type
                strong(ng-click="orderBy='termType'; reverseSort=!reverseSort") Term type &nbsp;&nbsp;
                  span(ng-show="orderBy == 'termType'")
                    span.glyphicon.glyphicon-menu-up(ng-show="!reverseSort")
                    span.glyphicon.glyphicon-menu-down(ng-show="reverseSort")
              td.variable
                strong(ng-click="orderBy='variable'; reverseSort=!reverseSort") Variable &nbsp;&nbsp;
                  span(ng-show="orderBy == 'variable'")
                    span.glyphicon.glyphicon-menu-up(ng-show="!reverseSort")
                    span.glyphicon.glyphicon-menu-down(ng-show="reverseSort")
              td
                strong(ng-click="orderBy='displayName'; reverseSort=!reverseSort") Display name &nbsp;&nbsp;
                  span(ng-show="orderBy == 'displayName'")
                    span.glyphicon.glyphicon-menu-up(ng-show="!reverseSort")
                    span.glyphicon.glyphicon-menu-down(ng-show="reverseSort")
              td
          tbody
            tr(ng-repeat="termTemplate in termTemplates|orderBy:orderBy:reverseSort" ng-class="{ disabled: termTemplate.disabled }")
              td {{ termTemplate.termType }}
              td {{ termTemplate.variable }}
              td {{ termTemplate.displayName }}
              td.actions.text-right
                button.btn.btn-info.btn-sm(title="Edit" ng-show="!termTemplate.disabled" ng-click="editTermTemplate(termTemplate)" ng-disabled="isSaving")
                  span.glyphicon.glyphicon-pencil
                button.btn.btn-warning.btn-sm(title="Restore" ng-show="termTemplate.disabled" ng-click="updateTermTemplateState(termTemplate, false)" ng-disabled="isSaving")
                    span.glyphicon.glyphicon-refresh
                button.btn.btn-danger.btn-sm(title="Disable" ng-show="!termTemplate.disabled" ng-click="updateTermTemplateState(termTemplate, true)" ng-disabled="isSaving")
                    span.glyphicon.glyphicon-trash
