extends ../layout/layout.pug

block content
  .row
    .col-md-12
      h1.page-header Edit TermTemplate {{ ::termTemplate.name }}
  .row(ng-show="isLoading")
    .col-md-12
      include ../common/spinner.pug
  div(ng-hide="isLoading")
    .row
      .col-md-12
        include ./form.pug
    .row
      .col-md-12
        .buttons.text-right
          a.btn.btn-default(href="/term-templates") Cancel
          button.btn.btn-primary(ng-click="saveTermTemplate()" ng-disabled="termTemplateForm.$invalid || isSaving") Save
