extends ../layout/layout.pug

block content
  .row
    .col-md-12
      h1.page-header Term Templates
  .row(ng-show="isLoading")
    .col-md-12
      include ../common/spinner.pug
  div(ng-hide="isLoading")
    .row
      .col-md-12
        a.btn.btn-default.btn-primary(href="/term-templates/new") New Term Template
    .row
      .col-md-12
        table.table.table-striped.term-templates
          thead
            tr
              td.term-type
                strong Term type
              td.variable
                strong Variable
              td
                strong Display name
              td
          tbody
            tr(ng-repeat="termTemplate in termTemplates")
              td {{ termTemplate.termType }}
              td {{ termTemplate.variable }}
              td {{ termTemplate.displayName }}
              td.actions
                button.btn.btn-info.btn-sm(title="Edit" ng-click="editTermTemplate(termTemplate)" ng-disabled="isSaving")
                  span.glyphicon.glyphicon-pencil
                // TODO: unused?
                  button.btn.btn-danger.btn-sm(title="Delete" ng-click="deleteTermTemplate(termTemplate)" ng-disabled="isSaving")
                    span.glyphicon.glyphicon-trash
