include ../navbar.jade

.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      include ../sidebar.jade
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      .row
        .col-md-12
          h1.page-header Term templates
      .row(ng-show="isLoading")
        .col-md-12
          include ../common/spinner.jade
      div(ng-hide="isLoading")
        .row
          .col-md-12
            a.btn.btn-default.btn-primary(href="/term-templates/new") New term template
        .row
          .col-md-12
            table.table.table-striped.term-templates
              thead
                tr
                  td
                    strong Display name
                  td.term-type
                    strong Term type
                  td.variable
                    strong Variable
                  td
              tbody
                tr(ng-repeat="termTemplate in termTemplates")
                  td {{ termTemplate.displayName }}
                  td {{ termTemplate.termType }}
                  td {{ termTemplate.variable }}
                  td.actions
                    button.btn.btn-warning.btn-sm(title="Edit" ng-click="editTermTemplate(termTemplate)" ng-disabled="isSaving")
                      span.glyphicon.glyphicon-pencil
                    button.btn.btn-danger.btn-sm(title="Delete" ng-click="deleteTermTemplate(termTemplate)" ng-disabled="isSaving")
                      span.glyphicon.glyphicon-trash
