include ../navbar.jade

div(ng-show="isLoading")
  include ../common/spinner.jade
.container(ng-hide="isLoading")
  .row
    .col-md-12
      h2 {{ termTemplate.variable }}
  .row
    .col-md-12
      p Term type: {{ termTemplate.termType }}
      p Display name: {{ termTemplate.displayName }}
  .row
    .col-md-12
      .buttons.text-right
        a.btn.btn-default(href="/term-templates") Cancel
        a.btn.btn-primary(href="/term-templates/{{ termTemplate._id }}/edit") Edit
