extends ../layout/layout.pug

block content
  .row
    .col-md-12
      h1.page-header Edit User Group
  .row(ng-show="isLoading")
    .col-md-12
      include ../common/spinner.pug
  div(ng-hide="isLoading")
    .row
      .col-md-12
        h2 {{ ::userGroup.groupName }}
    .row
      .col-md-12
        include ./form.pug
    .row
      .col-md-12
        .buttons.text-right
          a.btn.btn-default(href="/user-groups") Cancel
          button.btn.btn-primary(ng-click="saveUserGroup()" ng-disabled="userGroupForm.$invalid || isSaving") Save
