extends ../layout/layout.pug

block content
  .row
    .col-md-12
      h1.page-header Provision Templates
  .row(ng-show="isLoading")
    .col-md-12
      include ../common/spinner.pug
  div(ng-hide="isLoading")
    .row
      .col-md-12
        a.btn.btn-default.btn-primary(href="/provision-templates/new") New Provision Template
    .row
      .col-md-12
        table.table.table-striped.provision-templates
          thead
            tr
              td
                strong Display name
              td
          tbody
            tr(ng-repeat="provisionTemplate in provisionTemplates")
              td {{ provisionTemplate.displayName }}
              td.actions
                button.btn.btn-info.btn-sm(title="Edit" ng-click="editProvisionTemplate(provisionTemplate)" ng-disabled="isSaving")
                  span.glyphicon.glyphicon-pencil
