form.form-horizontal(name="userForm")
  .form-group
     label.col-md-3.control-label(for="firstName") First Name
     .col-md-9
       input.form-control(name="firstName" ng-model="user.firstName" placeholder="First Name" ng-disabled="isSaving")

  .form-group
     label.col-md-3.control-label(for="lastName") Last Name
     .col-md-9
       input.form-control(name="lastName" ng-model="user.lastName" placeholder="Last Name" ng-disabled="isSaving")

  .form-group(ng-class="{ 'has-error': userForm.email.$invalid || userForm.email.$error.required }")
    label.col-md-3.control-label(for="email") Email*
    .col-md-9
      input.form-control(name="email" placeholder="Email" ng-model="user.email" 
                         ng-required="true" ng-disabled="isSaving")

  .form-group
     label.col-md-3.control-label(for="role") User Role
     .col-md-9
       select.form-control(name="role" ng-model="selectedRole.selected" ng-disabled="isSaving" ng-options="role as role.label for role in roles track by role.value")


  .form-group(ng-class="{ 'has-error': userForm.password.$invalid || userForm.password.$error.required }")
    label.col-md-3.control-label(for="password") Password*
    .col-md-9
      input.form-control(name="password" type="password" placeholder="Password" ng-model="user.password" ng-disabled="isSaving")

  .form-group(ng-class="{ 'has-error': userForm.confirmpass.$invalid || userForm.confirmpass.$error.required }")
    label.col-md-3.control-label(for="confirmpass") Confirm Password*
    .col-md-9
      input.form-control(name="confirmpass" type="password" placeholder="Confirm Password" ng-model="user.confirmpass" ng-disabled="isSaving")