extends ../layout/layout.pug

block content
  .row
    .col-md-12
      h1.page-header Edit Document Template Type {{ ::documentTemplateType.name }}
  .row(ng-show="isLoading")
    .col-md-12
      include ../common/spinner.pug
  div(ng-hide="isLoading")
    .row
      .col-md-12
        include ./form.pug
    .row
      .col-md-12
        .buttons.text-right
          a.btn.btn-default(href="/document-template-types") Cancel
          button.btn.btn-primary(ng-click="saveDocumentTemplateType()" ng-disabled="documentTemplateTypeForm.$invalid || isSaving") Save
