extends ../layout/layout.pug

block content
  .row
    .col-md-12
      h1.page-header Create New Document Template Type
  .row(ng-show="isSaving")
    .col-md-12
      include ../common/spinner.pug
  div
    .row
      .col-md-12
        include ./form.pug
    .row
      .col-md-12
        .buttons.text-right
          a.btn.btn-default(href="/document-template-types") Cancel
          button.btn.btn-primary(ng-click="createDocumentTemplateType()" ng-disabled="documentTemplateTypeForm.$invalid || isSaving") Create
