extends ../layout/layout.pug

block content
  .row
    .col-md-12
      h1.page-header Create New Document Template
  .row(ng-show="isSaving")
    .col-md-12
      include ../common/spinner.pug
  div
    .row
      .col-md-12
        include ./form.pug
    .row
      .col-md-12
        .buttons.text-right
          a.btn.btn-default(href="/document-templates") Cancel
          button.btn.btn-primary(ng-click="createDocumentTemplate()" ng-disabled="documentTemplateForm.$invalid || isSaving") Create
