extends ./layout/layout.pug

block content
  div.container.text-justify.terms
    uib-tabset(active="active" justified="true")
      uib-tab(index="0" heading="Terms of Service")
        h1.page-header Terms of Service
        p.text-center Last Updated: December 1, 2016
        p These Terms of Service ("Terms") govern your use of the services, software, and websites  provided herein (the "Service"), which is owned and operated by Celant Innovations, LLC ("Celant" or “us”). Our Privacy Policy explains the way we collect and use your information and our Acceptable Use Policy outlines our expectations with respect to your behavior when using the Service. By using the Service you agree to be bound by these Terms, our Privacy Policy and our Acceptable Use Policy. If you're using our Service on behalf of an organization or entity ("Organization"), then you are agreeing to these Terms on behalf of that Organization and you represent and warrant that you have the authority to bind the Organization to these Terms. In that case, "you" and "your" refers to that Organization.
        h4 Description of Service
        p The Service is a non-downloadable web application developed and operated by Celant designed to assemble documents utilizing a question-and-answer interface format integrated with a if-then logic enabled smart template. It analyzes user inputs and generates HTML, Adobe PDF or Microsoft Word DOCX files (together, the "Documents") as viewable or downloadable file to the user. We reserve the right to refuse to provide the Service for any reason, including for any violations of our Acceptable Use Policy or these Terms as determined by us in good faith.
        h4 Your Obligations
        p * You must provide accurate information when you create your account for this Service.
        p * You are responsible for safeguarding the password and for all activities that occur under your account. You should notify Celant immediately if you become aware of any breach of security or unauthorized use of your account.
        p * You must comply with our Acceptable Use Policy at all times when using the Service.
        p * You may never use another user's account without permission.
        p * You may not disassemble, decompile or reverse engineer the Service or attempt or assist anyone else to do so, unless such restriction is prohibited by law.
        p * Our Service is not intended for use by persons under the age of 13. By using the Service you are representing to us that you are over the age of 13.
        h4 Security
        p We will use industry standard technical and organizational security measures in connection with the storage, processing and transfer of the Documents that are designed to protect the integrity of that Documents and to guard against unauthorized or unlawful access to, use of, or processing of such Document.
        h4 Termination
        p You are free to stop using our Service at any time. We also reserve the right to suspend or end the Service at any time at our discretion and without notice. We may also terminate or suspend your access to the Service at any time if you are not complying with these Terms or our Acceptable Use Policy or if you are using the Service in a manner that we believe may cause us financial or legal liability.  Upon termination, Celant may not immediately destroy your Documents.
        h4 Celant's Intellectual Property Rights
        p The Service constitutes Celant's intellectual property and will remain the exclusive property of Celant and its licensors. Any feedback, comments, or suggestions you may provide regarding the Service is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you. We do, however, obtain the user's consent prior to associating any name or identifiable information to any specific testimonial.
        h4 Copyright
        p Celant respects the intellectual property rights of others and we expect our users to do the same. We respond to notices of alleged copyright infringement if they comply with the law, and such notices should be reported to us at legal@celant.com.
        h4 Modifications to the Service
        p The Service may be modified from time to time, often without prior notice to you.
        h4 Indemnification
        p You agree to defend, indemnify and hold harmless Celant and its licensee and licensors, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from your use of and access to the Service, or from or in connection with any Documents created by the Service through your account (including by a third party using your account).
        h4 No Warranty
        p THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. CELANT IS NOT RESPONSIBLE FOR ANY DAMAGE OR LOSS OF DATA THAT MAY RESULT. WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY THIRD PARTY APPLICATION OR SERVICE THAT PROVIDES ACCESS TO OUR SERVICE.
        h4 Limitation of Liability
        p TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT SHALL CELANT, ITS AFFILIATES, AGENTS, DIRECTORS, OFFICERS, EMPLOYEES, OR SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING WITHOUT LIMITATION DAMAGES FOR LOSS OF PROFITS, GOODWILL, DATA, OR OTHER INTANGIBLE LOSSES THAT RESULT FROM THE USE OF, OR INABILITY TO USE, THE SERVICE, WHETHER OR NOT CELANT HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE. CELANT'S AGGREGATE LIABILITY FOR ALL CLAIMS RELATED TO THE SERVICE SHALL NOT EXCEED THE GREATER OF $100 OR THE AMOUNTS PAID BY YOU TO CELANT IN CONNECTION WITH YOUR USE OF THE SERVICE DURING THE NINETY (90) DAY PERIOD PRIOR TO THE CLAIM GIVING RISE TO SUCH LIABILITY.
        h4 Dispute Resolution
        p Informal Efforts - You agree that prior to filing any claim against Celant relating to or arising out of these Terms you will first contact us at legal@celant.com to provide us with an effort to resolve the issue in an informal manner.
        p Arbitration - If such dispute is not resolved to our mutual satisfaction within 30 days of submission, then either party may bring a formal claim, which claim shall be resolved through final and binding arbitration administered by the American Arbitration Association.
        p No Class Actions - ALL CLAIMS MUST BE BROUGHT ON AN INDIVIDUAL BASIS AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS, CONSOLIDATED, OR REPRESENTATIVE PROCEEDING. CLASS ARBITRATIONS, CLASS ACTIONS, PRIVATE ATTORNEY GENERAL ACTIONS, AND CONSOLIDATION WITH OTHER ARBITRATIONS ARE NOT ALLOWED.
        p Judicial Forum - In the event that the agreement to arbitrate is found not to apply to your claim, then you and Celant agree that any judicial proceedings will be brought in the federal or state courts in New York, NY and both parties consent to venue and personal jurisdiction thereunder.
        h4 Governing Law
        p These Terms will be governed by the laws of the State of New York, without regard to its conflict of laws principles.
        h4 Data Transfer
        p In connection with providing you the Service, Celant may transfer, store and process your information in respect of the Documents in the U.S. or in any other country in which Celant or its agents maintain facilities or servers. By using the Service you consent to this transfer, processing and storage of your information in respect of the Documents.
        p Entire Agreement; Severability; Waiver
        p These Terms constitute the entire agreement between you and Celant concerning the Service replace any prior or contemporaneous agreements, terms or conditions applicable to your use of the Service. If a provision of these Terms is found to be unenforceable, the remaining provisions of these Terms will remain in full force and effect and an enforceable term will be substituted reflecting as closely as possible our original intent. Celant's failure to enforce any provision of these Terms shall not be deemed a waiver of its right to do so later.
        h4 Assignment
        p These Terms and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by us without restriction. Any attempted transfer or assignment by you will be null and void.
        h4 Notices
        p We may provide you with legal notices and notices related to your account via email using the email address associated with your account. We may provide you with other marketing or business-related information, including information about Service updates or changes, via email.
        p For questions about these or any Celant terms or policies, email us at legal@celant.com.
        h4 Acceptable Use Policy
        p Last Updated: December 1, 2016
        p All users of the Service are expected to comply with this Acceptable Use Policy. Failure to do so may result in suspension or termination of your account. If you have agreed to Terms of Service on behalf of your organization, then this Acceptable Use Policy will apply to all users of the Service under your account (the "End Users").
      uib-tab(index="1" heading="Acceptable Use of the Service")
        h1.page-header Acceptable Use of the Service
        p No Misuse of the Service. You agree not to misuse the Service. For example, you may not:
        p * use the Service for any unlawful purpose or for promotion of illegal activities;
        p * use the Service in violation of the terms of this Acceptable Use Policy or the Terms of Service;
        p * copy, modify, create a derivative work from, reverse engineer or reverse assemble the Service, or otherwise attempt to discover any source code, or allow any third party to do so;
        p * sell, assign, sublicense, distribute, commercially exploit, grant a security interest in or otherwise transfer any right in, or make available to a third party, the Service in any way;
        p * use or launch any automated system, including without limitation, "robots," "spiders," or "offline readers," that accesses the Service in a manner that sends more request messages to the Celant servers in a given period of time than a human can reasonably produce in the same period by using a conventional on-line web browser;
        p * interfere with any other party's use and enjoyment of the Service;
        p * mirror or frame the Service or any part of it on any other web site or web page;
        p * publish or link to or from malicious content intended to damage or disrupt another user's browser or computer;
        p * access, tamper with, or use non-public areas of the Service, or Celant's computer systems, or the technical delivery systems of Celant's providers;
        p * probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measure or attempt to gain unauthorized access to the Service;
        p * access or search the Services by any means other than Celant’s publicly supported interfaces (for example, "scraping");
        p * forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the Service to send altered, deceptive or false source-identifying information;
        p * interfere with or disrupt the access of any user, host or network, including, without limitation, by sending a virus, overloading, flooding, spamming, mail-bombing the Service, or by scripting (including by use of macros) the creation of Documents in such a manner as to interfere with or create an undue burden on the Service; or
        p * promote or advertise products or services without written authorization from Celant.
        p Documents Standards. You may not create any Documents in the Service that:
        p * violates of any applicable law, any intellectual property rights, or anyone's right of privacy or publicity;
        p * may create a risk of harm, loss, or physical or mental injury to any other person or the risk of loss or damage to any property; or
        p * contains any information that you do not have a right to make available under law or any contractual or fiduciary duty.
        p For questions about these or any Celant's terms or policies, email us at legal@celant.com.

      uib-tab(index="2" heading="Privacy Policy")
        h1.page-header Privacy Policy
        p.text-center Last Updated: December 1, 2016
        p This Privacy Policy describes Celant's practices regarding the collection, use, and disclosure of the information we collect from and about you when you use Celant’s web-based applications (the "Service"). We take our obligations regarding your privacy seriously and have made every effort to draft this Privacy Policy in a manner that is clear and easy for you to understand. By accessing or using the Service, you agree to this Privacy Policy, our Terms of Service, and our Acceptable Use Policy.
        h4 Our Collection and Use of Information
        h4 Information You Provide to Us
        p We collect personal information, such as your name and email address, when you register for an account on the Service. Your user name, email address and any other profile information that you elect to associate with your account is referred to herein as your "Profile Information."
        p We may use your email address to send you Service-related notices (including any notices required by law, in lieu of communication by postal mail). Even if you are not a registered user of our Service, if you email us we may retain a record of such email communication, including your email address, the content of your email, and our response.
        h4 The Documents
        p Your use of the Service will involve you creating Documents in the Service. Celant does not maintain ability for its directors, officers, employees or agents to view your Documents and as such, you must therefore provide your Documents through separate channels (such as email) in order to resolve a support request from you. You agree to assume any and all responsibility with respect to any damage or liability arising from communication relating to such support requests. In addition, you acknowledge that information transferred by email may be less secure because they may not be encrypted.
        p In the future, Celant may implement features or policies to view your Documents only as necessary (i) to maintain, provide and improve the Service; (ii) to resolve a support request from you; (iii) as reasonably necessary to allow Celant to comply with or avoid the violation of applicable law or regulation; or (iv) to comply with a valid legal subpoena or request.
        p We may also analyze the Service usage in the aggregate and on an anonymized basis, in order to better understand the manner in which our Service is being used.
        h4 Information We Collect Automatically
        p We may use technologies like cookies and pixel tags to provide, monitor, analyze, promote and improve the Service. For example, a cookie is used to remember your user name when you return to the Service and to improve our understanding of how you interact with the Service. You can block cookies on your web browser; however please be aware that some features of the Service may not function properly if the ability to accept cookies is disabled.
        h4 Log Files
        p When you use the Service, our servers automatically record certain information in server logs. These server logs may include information such as your web request, Internet Protocol (i.e. "IP") address, browser type, referring / exit pages and URLs, number of clicks and how you interact with links on the Service, domain names, landing pages, pages viewed, and other such information. Log files help us to monitor, analyze, improve and maintain the Service and to diagnose and fix any Service-related issues.
        h4 Location Information
        p We may collect and process information about the location of the device from which you are accessing the Service. Location data may convey information about how you browse the Service and may be used in conjunction with personally identifiable information.
        h4 How We Share Your Information
        p We may share the information we collect from you with third parties as detailed below. We do not share information to third-party marketers.
        h4 With Trusted Service Providers and Business Partners.
        p We may utilize trusted third party service providers to assist us in delivering our Service. For example, we may use third parties to help host our Service or send out email updates. These service providers may have access to your information for the limited purpose of providing the service we have contracted with them to provide. They are required to have a privacy policy and security standards in place that are at least as protective of your information as this Privacy Policy. We may also store personal information in locations outside the direct control of Celant (for instance, on servers or databases co-located with hosting providers).
        h4 With Law Enforcement or In Order to Protect Our Rights.
        p We may disclose your information (including your personally identifiable information) if required to do so by law or subpoena. We may also disclose your information to our legal counsel, governmental authorities, or law enforcement if we believe that it is reasonably necessary to do so in order to comply with a law or regulation; to protect the safety of any person; to address fraud, security, or technical issues; or to protect Celant's rights or property.
        h4 In an Aggregate and Non-Personally Identifiable Manner.
        p We may disclose aggregate non-personally identifiable information (such as aggregate and anonymous usage data, platform types, etc.) about the overall use of our Service publicly or with interested third parties to help them understand, or to help us improve, the Service.
        h4 In Connection With a Sale or Change of Control.
        p If the ownership of all or substantially all of our business changes, we may transfer your information to the new owner so that the Service can continue to operate. In such case, your information would remain subject to the promises and commitments contained in this Privacy Policy until such time as this Privacy Policy is updated or amended by the acquiring party upon notice to you.
        h4 How We Protect Your Information
        p The security of your information is important to us. When you enter sensitive information (such as an email address or information to create the Documents) as part of our Service, we encrypt the transmission of that information using industry-standard encryption.
        p Celant uses commercially reasonable and industry-standard safeguards to preserve the integrity and security of your information.
        p If you have any questions about security on our Service, you can contact us at legal@celant.com
        h4 Risks Inherent in Sharing Information
        p Please be aware that no security measures are perfect or impenetrable. We cannot control the actions of other users with whom you share your Documents and we are not responsible for third party circumvention of any security measures on the Service.
        h4 International Data Transfer
        p We may transfer information that we collect about you, including personally identifiable information, to affiliated entities, or to other third parties (as provided herein above) across borders and from your country or jurisdiction to other countries or jurisdictions around the world. If you are located in the European Union or other regions with laws governing data collection and use that may differ from U.S. law, please note that you are transferring information, including personal information, to a country and jurisdiction that does not have the same data protection laws as your jurisdiction, and you consent to the transfer of information to the U.S. and the use and disclosure of information about you, including personal information, as described in this Privacy Policy.
        h4 Links to Other Web Sites
        p We are not responsible for the practices employed by websites linked to or from within the Service, nor the information or content contained therein. Please remember that when you use a link to go from the Service to another website, our Privacy Policy is no longer in effect and your activities on that third party website is subject to such third party website's own rules and policies.
        h4 Changes to Our Privacy Policy
        p If we change our Privacy Policy, we will post those changes on this page to keep you aware of what information we collect, how we use it and under what circumstances we may disclose it. Changes to this Privacy Policy are effective when they are posted on this page.
        h4 Contact Us
        p For questions about these or any Celant terms or policies, email us at legal@celant.com.
  footer.footer
    div.container
      button.center-block.btn.btn-success(ng-if="!terms" ng-click="acceptTerms()") AGREE
      p.text-center © 2015-2016 Celant Innovations, LLC. All rights reserved.

