form.form-horizontal(name="projectTemplateForm")
  .form-group(ng-class="{ 'has-error': projectTemplateForm.name.$error.required }")
    label.col-md-3.control-label(for="name") Name
    .col-md-9
      input.form-control(name="name" type="text" placeholder="Name"
                         ng-model="projectTemplate.name" ng-required="true" ng-disabled="isSaving")

  .form-group(ng-class="{ 'has-error': projectTemplateForm.documentTemplates.$error.required }")
    label.col-md-3.control-label(for="documentTemplates") Document Templates
    .col-md-9
      ui-select(name="documentTemplates" multiple="true"
                ng-model="projectTemplate.documentTemplates" ng-required="true" ng-disabled="isSaving")
        ui-select-match(placeholder="Add Document Templates") {{ $item.name }}
        ui-select-choices(refresh="refreshDocumentTemplates($select.search)" refresh-delay="300" repeat="docTempl._id as docTempl in documentTemplates")
          span(ng-bind-html="docTempl.name | highlight: $select.search")

  .form-group(ng-class="{ 'has-error': projectTemplateForm.userGroups.$error.required }")
    label.col-md-3.control-label(for="userGroups") Assign User Groups
    .col-md-9
      ui-select(name="userGroups" multiple="true" ng-model="projectTemplate.userGroups" ng-disabled="isSaving")
        ui-select-match(placeholder="Add User Groups") {{ $item.groupName }}
        ui-select-choices(refresh="refreshUserGroups($select.search)" refresh-delay="300" repeat="userGroup._id as userGroup in userGroups")
          span(ng-bind-html="userGroup.groupName | highlight: $select.search")

  .form-group(ng-class="{ 'has-error': projectTemplateForm.users.$error.required }")
    label.col-md-3.control-label(for="users") Assign Users
    .col-md-9
      ui-select(name="users" multiple="true" ng-model="projectTemplate.users" 
          ng-disabled="isSaving" on-select="onSelectUser($item, $model)")
        ui-select-match(placeholder="Add Users") {{ $item.firstName }}
        ui-select-choices(refresh="refreshUsers($select.search)" refresh-delay="300" repeat="user._id as user in users")
          span(ng-bind-html="user.firstName | highlight: $select.search")