div#innerEditor(ng-class="{ 'edit-mode': mode === 'edit', 'redline-mode': mode === 'redline' }" ng-style='{height:editorHeight - 125, overflow:"auto"}')
  div(ng-repeat="provTempl in relatedData.provisionTemplates")
    h4(ng-hide="true") {{ ::provTempl.displayName }}
    dynamic-html(template="provTempl.templateHtml" selected-variable="selectedVariable" ng-if="!isLoading" variables="variables" textplus="textplus" on-change="save()")
