div(ng-class="{ 'edit-mode': mode === 'edit' }")
  div(ng-repeat="provTempl in relatedData.provisionTemplates")
    h4 {{ ::provTempl.displayName }}
    dynamic-html(template="provTempl.templateHtml" variables="variables")
