div(ng-class="{ 'edit-mode': mode === 'edit', 'redline-mode': mode === 'redline' }")
  div(ng-repeat="provTempl in relatedData.provisionTemplates")
    h4 {{ ::provTempl.displayName }}
    dynamic-html(template="provTempl.templateHtml" selected-variable="selectedVariable" variables="variables" on-change="save()")
