span
  span(ng-if="token.type === 'content'" ng-bind-html="$root.trustAsHtml(token.text)")

  span(ng-if="token.type === 'program'")
    token-editor(ng-repeat="t in token.tokens" token="t")

  span(ng-if="token.type === 'variable'")
    input(ng-model="token.value" placeholder="{{ token.text }}")

  span(ng-if="token.type === 'statement'")
    span(ng-if="token.text === 'if'")
      // && token.params[0].value")
      token-editor(token="token.params[0]")
      token-editor(ng-repeat="t in token.tokens" token="t")
    span(ng-if="token.text === 'unless'") 
      // && !token.params[0].value")
      token-editor(token="token.params[0]")
      token-editor(ng-repeat="t in token.tokens" token="t")
    span(ng-if="token.text === 'ifCond'")
      // && ifCond(token.params)")
      token-editor(ng-repeat="param in token.params" token="param")
      token-editor(ng-repeat="t in token.tokens" token="t")
